# force beautifulsoup4 version for compatibility textract
beautifulsoup4==4.8.0
# force six version for compatibility textract
six==1.12.0

# LIBS PART BEGIN
numpy==1.21.2
h5py>=2.10,<2.11
ipywidgets>=7.5,<7.6
pandas==1.3.3
matplotlib==3.4.3
scipy>=1.3,<1.4
scikit-learn==0.24.2
pyodbc>=4.0,<4.1
impyla>=0.16,<0.17
# CHECK if hdfs alone isn't necesary
# RUN pip --no-cache-dir install hdfs
hdfs[avro,dataframe,kerberos]>=2.5,<2.6
scikit-image>=0.16,<0.17
bokeh>=1.4,<1.5
tensorflow==2.6.0
keras==2.6.0
Theano>=1.0,<1.1
# PyBrain not tagged after 0.3.3 (20150108) => use commit from sources for latest release dcdf32b - 20171217 +24commits)
https://github.com/pybrain/pybrain/archive/dcdf32b.zip
statsmodels>=0.10,<0.11
mpld3>=0.3,<0.4
networkx>=2.4,<2.5
fiona>=1.8,<1.9
folium>=0.10,<0.11
shapely>=1.6,<1.7
# Cython must be installed before thrift-sasl because of an error on ThriftPy and python 3.7 : https://github.com/Thriftpy/thriftpy/issues/333
cython>=0.29,<0.30
# Thrift-Sasl should have no errors with Ibis Impala connection (0.2.1 is OK but >0.3 is KO until 0.4.1 at least)
# https://github.com/cloudera/thrift_sasl/issues/12 - corrected since 20180601 (https://github.com/cloudera/thrift_sasl/archive/8c52f65.zip)
# but other prolems remaining since then
thrift-sasl==0.2.1
SQLAlchemy>=1.3,<1.4
ibis-framework>=1.2,<1.3
pymongo>=3.9,<3.10
seaborn==0.11.2
#PRODUCT-38-BEGIN
pytesseract==0.3.8
opencv-python>=4.5,<4.6
wand>=0.5,<0.6
# DEPRECATED because deprecated for https://pypi.org/project/mysql-connector-python/ 8.0.18
# mysql-connector>=2.2.9,<2.3
# REPLACEd by :
mysql-connector-python>=8.0,<8.1
pyshp>=2.1,<2.2
# TPot above 0.11.1 seems not compatible with version 0.21.3 of scikit-learn (with future versions may be OK) so fix it
tpot==0.11.1
lime>=0.1,<0.2
shap>=0.32,<0.33
nltk==3.6.3
gensim==4.1.2
xgboost==1.4.2
imbalanced-learn>=0.5,<0.6
dryscrape>=1.0,<1.1
lxml>=4.4,<4.5
scrapy>=1.8,<1.9
bs4>=0.0,<0.1
pydotplus>=2.0,<2.1
elasticsearch>=7.1,<7.2
psycopg2>=2.8,<2.9
graphviz>=0.13,<0.14
geopandas>=0.6,<0.7
geopy>=1.20,<1.21
#PRODUCT-38-END
#PRODUCT-335 BEGIN
tabula-py>=1.4,<1.5
spacy==3.1.3
pycrypto>=2.6,<2.7
crypto>=1.4,<1.5
tokenizer>=1.4,<1.5
apiclient>=1.0,<1.1
addok>=1.0,<1.1
openpyxl>=3.0,<3.1
jellyfish>=0.7,<0.8
django>=3.0,<3.1
joblib>=0.14,<0.15
excel>=1.0,<1.1
python-levenshtein>=0.12,<0.13
xlwt>=1.3,<1.4
tika>=1.22,<1.23
pycurl>=7.43,<7.44
neo4j-driver>=1.7,<1.8
simplejson>=3.17,<3.18
#PRODUCT-335 END
#PRODUCT-402 BEGIN
# latest 20191020 no tags/releases +27 commits since then on 20191126
# pip check reports : textract 1.6.3 has requirement pdfminer.six==20181108, but you have pdfminer-six 20191110.
pdfminer.six==20181108
#PRODUCT-402 END
umap-learn>=0.3,<0.4
numba>=0.47,<0.48
# AutoSkLearn not tagged in 0.6.0 => use latest commit from sources for latest release 049288e at the time of this build 20191126
https://github.com/automl/auto-sklearn/archive/049288e.zip
fastparquet>=0.3,<0.4
# CHECK 0.12.0 (20/12/2017) 14 commits since
requests-kerberos>=0.12,<0.13
# LIBS PART END
# Install confluent Kafka
kafka-python>=1.4,<1.5
confluent-kafka>=1.2,<1.3
#confluent-kafka
torchvision>=0.5,<0.6

# fix version to avoid error in numba, fastparquet, ...
llvmlite==0.32.0
# custom
pylint>=2.10,<2.20
pdf2image>=1.10,<1.20
inflect>=5.3,<5.4
textract==1.6.4
pdfminer.six==20211012
pytest>=6.2,<6.3
XlsxWriter>=3.0,<3.1
pykerberos>=1.2,<1.3
yolov5>=6.0,<6.1
lightgbm>=3.2,<3.3
catboost>=1.0,<1.1
transformers>=4.11,<4.12
stanza>=1.3,<1.4
efficientnet>=1.1,<1.2
camembert>=0.11,<0.12 
imgaug>=0.4,<0.5 
alexnet-pytorch>=0.2,<0.3